
  
header
{
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
    align-items: center;
}
body
{
   
    margin: auto;
    color: white;
   
   
}
#header
{
    
    margin-top: 40px;
    margin-bottom: 40px;
    background: rgba(24, 23, 23, 0.411);
    font-size: 40px;
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
   
    color: white;
}
#titulo
{
    font-size: 60px;
}

 
#frm
{
   
    width: 700px;
    height: 300px;
    background: rgba(24, 23, 23, 0.411);
    flex: auto;
    display: block;
    border-radius: 10px;
    color: white;


}

#p_nombre
{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;

}
#p_apellido
{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;

}
#p_pais
{
    font-family: 'Times New Roman', Times, serif;
     font-size: 15px;
    position: relative;
    right: 85pt;

}



#Telefono_Email
{
   
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
#p_email
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    position: relative;
    left: 15pt;
}


#Tlegend
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
    font-size: 25pt;
    color: white;
}
#pais
{
    
    height: 20pt;
    width: 90pt;
    background: rgba(255, 253, 253, 0.836);
    
}
#email
{
    position: relative;
    
    height: 18pt;
    width: 135pt;
    background: rgba(255, 253, 253, 0.836);
}
#listaNumeros
{
    height: 20pt;
    width:95pt ;
    background: rgba(255, 253, 253, 0.836);
   
  
}
#telefono
{
    height: 20pt;
    width: 80pt;
    
    background: rgba(255, 253, 253, 0.836);
    font-family: 'Times New Roman', Times, serif;
     font-size: 15px;
}
#name
{
    height: 15.5pt;
    background: rgba(255, 253, 253, 0.836);
    position: relative;
    
   
}
#apellido
{
    height: 15.5pt;
    background: rgba(255, 253, 253, 0.836);
    
}
.letras
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    
}

#Footer
{
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
    position: relative;
    font-size: 1px;
    top: 75pt;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(24, 23, 23, 0.411);
}
#span
{
    font-size: 12px;
}
#text
{
    color: whitesmoke;
}




#Registrar
{
    position: relative;
  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
   
    
  
   
  
}
.Mensaje_error
{
    background: rgba(241, 77, 77, 0.692);
    border-radius: 5px;
     font-family: 'Times New Roman', Times, serif;
     font-size: 15px;
visibility: hidden;

 
}
#margin
{
    padding-top: 20px;
}
