header
{
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.562);
}
body
{
    margin: auto;
    color: white;
    
}
#header
{
    margin-top: 40px;
    margin-bottom: 40px;
    
    font-size: 30px;
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
  
    color: rgb(235, 252, 1);
}
#legenda
{
    font-size: 30px;
    color: white;
}
 
#frm
{
   
    width: 800px;
    height: 250px;
    background: rgba(0, 0, 0, 0.562);
    flex: auto;
    display: block;
}

#nombre_apellido
{
    position: relative;
    
     right: 10pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;

}


#Telefono_Email
{
    position: relative;
    right: 52px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
    top: 30pt;
}
#Cpago
{
    position: relative;
    right: 130px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
}
#Tlegend
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
    font-size: 25pt;
    color: rgb(235, 252, 1);
}
#pais
{
    
    height: 20pt;
    width: 90pt;
    background: rgba(255, 253, 253, 0.836);
}
#email
{
    position: relative;
    
    height: 16pt;
    width: 130pt;
    background: rgba(255, 253, 253, 0.836);
}
#listaNumeros
{
    height: 20pt;
    background: rgba(255, 253, 253, 0.836);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
  
}
#telefono
{
    height: 15.5pt;
    width: 90pt;
    
    background: rgba(255, 253, 253, 0.836);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
}
#name
{
    height: 15.5pt;
    background: rgba(255, 253, 253, 0.836);
    position: relative;
    left: 4pt;
   
}
#apellido
{
    height: 15.5pt;
    background: rgba(255, 253, 253, 0.836);
    
}
.letras
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
    
}

#Footer
{
    background: rgba(0, 0, 0, 0.562);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
    position: relative;
    font-size: 12px;
    top: 50pt;
    text-align: center;
   
    padding-bottom: 40px;
    padding-top: 40px;
}
#text
{
    color: rgb(235, 252, 1);
}




#Registrar
{
    position: relative;
    top: 45pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: initial;
    font-weight: 2;
    width: 80pt;
    height: 20pt;
    padding-bottom: 5px;
    padding-top: 3px;
    font-size: 15px;
    background:  rgba(227, 243, 81, 0.815);
    border-radius: 5px;
    display: block;
  
}